<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/gab.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
    <h1>Gabble Message</h1>

    <div class="options">
        <button>Gabble</button>
        <a href="/creategab"><button>Create Gab</button></a>
        <button>Logged in as {{name}}</button>
        <form method="get" action="/logoff"> 
            <button>Log Out</button>
        </form>
    </div>
        {{#messages}}
    <div class="allmessages">
        <div class="messagediv">        
            <h5>{{author.name}}</h5><br>{{content}}
            <button>Like</button>
        </div>
        {{#delete}}
        <form action="/delete" method="post">
            <button class="deletebutton" name="id" value={{id}}> Delete </button>
        </form>
        {{/delete}}
        {{^delete}}
        {{/delete}}
    </div>
        {{/messages}}

</body>
</html>