body{
    background-color: lightcyan;
}
.options{
    display: flex;
}
.messageByUser{
    display: flex;
}
.messageByUser a{
    width: 30%;
    color: black;
    text-decoration: none;
}
.messageByUser a:visited{
    color: black;
}

.messagediv{
    border: 1px solid black;
    margin: 2px;

}
.messagediv h5{
    margin: 0px;
}
.messagediv button{
    float: right;
}
.deletebutton{
    background-color: red;
    height: 56px;
}